<!DOCTYPE html>
<html>
 <head>
   <title>Test</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <style>
     td,th {
       padding: 10px;
       text-align: center;
     }
   </style>
 </head>
 <body>
     <center>
    <table border=1; style="font-size: 18px; border-collapse: collapse">
        <tr>
            <td>ID값</td>
            <td>제목</td>
            <td>내용</td>
            <td>작성자</td>
            <td>게시물 삭제하기</td>
            </tr>
        <% for (const result of results) { %>
        <tr>
            <th>
            <%= result.id %>
            </th>
            <td> 
            <a href="/board/update?id=<%= result.id %>&title=<%= result.title %>&content=<%= result.content %>&name=<%= result.name %>"><%= result.title %></a>
            </td>
            <td>
                <%= result.content %>
            </td>
            <td>
                <%= result.name %>
            </td>
            <td>
                <a href="/board/node?id=<%= result.id %>&name=<%= result.name %>"><button>게시물 삭제</button></a>
            </td>
        </tr>
        <% } %>
    </table>
    <br>
    <a href="/board/create"><button>게시물 등록</button></a>
    </center>




 </body>
</html>