<!DOCTYPE html>
<html>
 <head>
   <title>notice</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <style>
     td,th {
       padding: 10px;
       text-align: center;
     }

     table {
        table-layout:fixed; 
        }

        body {
  background-color: #2c3338;
  color: #ffffff;
  margin: 0;
  min-height: 100%;
}

button {
    background-color: #2c3338; color: #ffffff
  }

  button:hover {
    background-color: white;
    color: black;
    border: 2px solid powderblue;
    cursor:pointer;
  }

  form{
    bottom: 100px;
  }
   </style>
 </head>
 <body>
     <center>
       <h1>게시판</h1>
    <table border=1; style="font-size: 18px; border-collapse: collapse; border: 1px solid white;">
        <tr>
            <td>ID값</td>
            <td>제목</td>
            <td>작성자</td>
            <td>게시물 삭제하기</td>
            </tr>
        <% for (const result of results) { %>
        <tr>
            <th>
            <%= result.id %> 
            </th>
            <td>  
              <a href="/board/tkd?id=<%= result.id %>" style="text-decoration:none; color: gold"><%= result.title %></a> (<%= result.count %>)
            </td>
            <td>
                <%= result.name %>
            </td>
            <td>
                <a href="/board/node?id=<%= result.id %>&name=<%= result.name %>"><button>게시물 삭제</button></a>
            </td>
        </tr>
        <% } %>
        </table>
        <table>
    <td>
    <a href="/board/create"><button>게시물 등록</button></a>
    <br>
    <br>
    <form action="/logout">
      <button >
        로그아웃하기
      </button>
    </form>
    </td> 
    </table>
    </center>




 </body>
</html>